<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-9 content">
            <router-outlet></router-outlet>
        </div>
        <div class="col-3 sidebar">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptas, sit cupiditate eaque voluptate deserunt, optio enim dolore nostrum voluptates omnis odio, quia vero nulla maxime. Aliquid voluptatem praesentium velit amet nihil ipsam nostrum? Deleniti
            quaerat maiores fugit excepturi possimus unde, voluptate recusandae laboriosam velit, facilis incidunt aperiam, ratione dolor sapiente ullam! Tempora voluptatibus nemo hic fuga et voluptates temporibus quidem voluptatem blanditiis dolorem
            alias animi corrupti, ducimus asperiores iusto, recusandae at provident! Iusto, quaerat asperiores. Omnis sint est alias facere. Corporis doloribus officia beatae nam dignissimos dolorum atque eligendi aliquid! Vitae consectetur praesentium
            sit, eaque ipsam quas enim id?
        </div>
    </div>
</div>

<app-footer></app-footer>